n8n-workflows/02_chiamata_sara.json
{
  "name": "02 - SARA Calls",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 2}]}
      },
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/leads",
        "qs": {"status": "nuovo", "limit": "5"}
      },
      "name": "Get New Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.map(l => ({ json: l }));"
      },
      "name": "Split Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:8000/leads/{{ $json.id }}/call/sara"
      },
      "name": "Call SARA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Every 2 Hours": {"main": [[{"node": "Get New Leads", "type": "main", "index": 0}]]},
    "Get New Leads": {"main": [[{"node": "Split Leads", "type": "main", "index": 0}]]},
    "Split Leads": {"main": [[{"node": "Call SARA", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["calls", "sara"]
}
